*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}



.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.timer-container input {
  border: 3px solid #000; /* Adjust thickness and color as needed */
  padding: 8px; /* Optional: Adds padding for a better appearance */
  border-radius: 4px; /* Optional: Rounds the corners */
  width: 70px;
  height: 50px;
  font-size: 20px;
  margin:10px;
  text-align: center;
}

.start-button {
  width: 100px;
  height: 70px;
  background-color:rgb(235, 235, 235);
  font-weight: bolder;
  font-size: 30px;
}